.widget{
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: space-between; 
    -webkit-box-shadow: 3px 10px 16px -1px rgba(189,189,189,0.39);
-moz-box-shadow: 3px 10px 16px -1px rgba(189,189,189,0.39);
box-shadow: 3px 10px 16px -1px rgba(189,189,189,0.39);
    border-radius: 5px;
    height: 80px;

    .left, .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 14px;
            color: rgb(185, 183, 183);
        }
        .counter{
            font-size: 28px;
            font-weight: 300;
        }
        .link{
            font-size: 12px;
            border-bottom: 1px solid lightgray;
            width: max-content;
        }
        .percentage {
            display: flex;
            font-size: 14px;
        }
        .icon{
            font-size: 20px;
            padding: 5px;
            // color: green;
            align-self: flex-end;
            border-radius: 4px;
        }
    }
}