.app {
    .shipmentTable {
      background-color: white; 
      color: black; 
      border-collapse: collapse;
      table {
        width: 100%;
        border: 1px solid #ddd;
        tr {
          border-bottom: 1px solid #ddd;
        }
        th, td {
          padding: 10px;
          text-align: left;
        }
        th {
          background-color: #f5f5f5; 
          color: #333;
        }
        td {
          background-color: #fff; 
        }
      }
      .status {
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
      }
      .delivered {
        background-color: green;
        color: white;
      }
  
      .in-transit {
        background-color: rgb(185, 113, 185);
        color: black;
      }
  
      .shipped {
        background-color: rgb(185, 113, 185);
        color: white;
      }
    }
    &.dark {
      background-color: #222 !important;
      color: rgb(156, 156, 156) !important;
      // background: #333;
      .navbar {
        background-color: #333;
        color: #ddd;
        border-color: #444;
        .search {
          border-color: #555;
          color: #ddd;
        }
      }
      .sidebar {
        background-color: #111;
        border-color: #333;
        .top {
          .logo {
            color: #ddd;
          }
        }
        ul {
          li {
            &:hover {
              background-color: #333;
            }
            .icon {
              color: grey;
            }
          }
        }
        hr {
          border-color: #333;
        }
      }
    .shipmentContainer{
        background-color: #333;
        background: #333;
    }
      .shipmentTable {
        background-color: #333; 
        color: #ddd !important; 
        border-collapse: collapse;
        -webkit-box-shadow: 3px 10px 16px -1px rgba(189,189,189,0.39);
-moz-box-shadow: 3px 10px 16px -1px rgba(189,189,189,0.39);
box-shadow: 3px 10px 16px -1px rgba(189,189,189,0.39);
    border-radius: 5px;
  
        table {
          width: 100%;
          border: 1px solid #444 !important;
          tr {
            border-bottom: 1px solid #444 !important;
          }
          th, td {
            padding: 10px;
            text-align: left;
          }
          th {
            background-color: #444 !important; 
            color: #fff;
          }
          td {
            background-color: #333 !important; 
          }
        }
        .status {
          padding: 5px;
          border-radius: 5px;
          font-weight: bold;
        }
        .delivered {
          background-color: green;
          color: white;
        }
        .in-transit {
          background-color: yellow;
          color: black;
        }
        .shipped {
          background-color: rgb(185, 113, 185);
          color: white;
        }
      }
    }
  }
  