@import "../../responsive.scss";

.sidebar{
    flex: 1;
    border-right: 0.5px solid rgb(228, 228, 228);
    min-height: 100vh;
    background-color: white;
    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
            font-size: 20px;
            font-weight: bold;
            color: rgb(121, 28, 164);
        }
    }
    hr{
        height: 0;
        border: 0.5px solid rgb(228, 228, 228);
    }
    .center{
        padding-left: 10px;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .title{
            font-size: 10px;
            font-weight: bold;
            color: #999;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .sidebar-link{
            text-decoration: none;
        }
        li {
            display: flex;
            align-items: center;
            padding: 6px;
            cursor: pointer;

            &:hover{
                background-color: rgb(224, 211, 234);
            }
            .icon{
                font-size: 18px;
                color: rgb(98, 82, 155);
            }
            span{
                font-size: 14px;
                font-weight: 400;
                color: #888;
                margin-left: 10px;
            }
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid purple;
            cursor: pointer;
            margin: 5px;
            border-radius: 50%;

            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: #333;
            }
            &:nth-child(3){
                background-color: darkblue;
            }
        }
    }
    
}